<nav class="top-menu">
  <span class="header-top-left">
    <div>
        <label style="font-size: 25px; margin-right: 20px;color: white;">Caliber Lunch Portal</label>
        <a routerLink="home" routerLinkActive="active">Home</a>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
    </div>
    
  </span>
  <span class="header-top-right">
    <div>
      <button (click)="LogOut()">Log Out</button>
    </div>
  </span>

</nav>