<div>
    <header>
        <span>Caliber</span>
        <span>
            <button>Login</button>
        </span>
    </header>
    <section>
        <div>
        </div>
        <div>Log into Caliber Lunch Portal</div>
        <div>Welcome! Please log in to continue.</div>
        <div>
            <button>Login With Microsoft Account</button>
        </div>
    </section>
    <footer>
       <div>
        <span>Caliber logo</span>
       </div>
       <div>
        <span>Company</span>
        <span>Product</span>
        <span>Resources</span>
        <span>Follow Us</span>
       </div>
    </footer>
</div>
