<div>
    <input
      type="text"
      placeholder="Search by name, email, or employee ID"
      [(ngModel)]="searchQuery"
      (input)="filterUsers()"
    />
    <button *ngIf="searchQuery" (click)="clearSearch()">Clear Search</button>
  </div>
  
  <table>
    <thead style="display: none;">
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Employee ID</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>
          <img
            *ngIf="user.diplayPic"
            [src]="'data:image/png;base64,' + user.diplayPic"
            alt="Profile Picture"
            width="30"
            height="30"
          />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.employeeId }}</td>
        <td>{{ user.isAdmin ? 'Admin' : 'Normal User' }}</td>
        <td>
          <a (click)="editUser(user)" style="cursor:pointer;">
            <span class="material-symbols-outlined">person_edit</span>
          </a>
        </td>
      </tr>
      <tr *ngIf="filteredUsers.length === 0">
        <td colspan="6">No users found.</td>
      </tr>
    </tbody>
  </table>
  
  
  <!-- Edit User Modal -->
  <div *ngIf="selectedUser" class="modal">
    <div class="modal-content">
      <h3>Edit User</h3>
      <form>
        <label for="employeeId">Employee ID:</label>
        <input
          type="text"
          id="employeeId"
          [(ngModel)]="selectedUser.employeeId"
          name="employeeId"
        />
        <div class="modal-actions">
          <button (click)="saveUser()">Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  