
  <table>
    <thead style="display: none;">
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Employee ID</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img
            *ngIf="user.diplayPic"
            [src]="'data:image/png;base64,' + user.diplayPic"
            alt="Profile Picture"
            width="30"
            height="30"
          />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.employeeId }}</td>
        <td>{{ user.isAdmin ? 'Admin' : 'Normal User' }}</td>
        <td>
          <a (click)="selectUser(user.id)" style="cursor:pointer;">
            <span class="material-symbols-outlined">person_edit</span>
          </a>
        </td>
      </tr>
    
    </tbody>
  </table>

  