<div>
    <header>
        <span class="header-top-left">Caliber</span>
        <span class="header-top-right">
            <button (click)="openLoginModal()" class="buttonsecondary">Login With Email</button>
        </span>
    </header>
    <section>
        <div class="login-body">
            <div>logo </div>
            <div>Log into Caliber Lunch Portal</div>
            <div>Welcome! Please log in to continue.</div>
            <button (click)="openLoginModal()">Login with Microsoft</button>

        </div>
    </section>
    <footer>
        <span>Company</span>
        <span>Product</span>
        <span>Resources</span>
        <span>Follow Us</span>
    </footer>
</div>