/* Layout structure */
.layout {
  display: flex;
  height: 100vh;
}
/* Main Navigation Styles */
.side-menu {
  width: 250px;
  background-color: #FFFFFFFF;
  color: #4f5e6d;
}


/* Submenu Styles */
.submenu {
  list-style: none;
  padding-left: 20px;
  display: block;
  background-color: #FFFFFFFF;
}

.submenu li a {
  padding: 8px 20px;
  color: #ddd;
}

.submenu li a:hover {
  background-color: #f7f9ff;
}

/* Dropdown Icon Animation */
.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}


/* Main Content styling */
.content {
  flex: 1;
  padding: 20px;
  background-color: #FFFFFFFF;
  overflow-y: auto;
}
