<div class="layout">
  <!-- Side Menu -->
  <nav class="side-menu">
    <ul>
      <label routerLink="home" routerLinkActive="active" class="side-menu-logo">CaliberLunchPortal</label>

      <li>
        <a routerLink="home" routerLinkActive="active">
          <span class="material-symbols-outlined">home_app_logo</span>
          Home
        </a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="active">
          <span class="material-symbols-outlined">info</span>
          About
        </a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="active">
          <span class="material-symbols-outlined">contact_mail</span>
          Contact
        </a>
      </li>
      <li>
        <a (click)="toggleDropdown()" style="cursor:pointer;">
          <span class="material-symbols-outlined">passkey</span>
          Admin
          <span class="material-symbols-outlined dropdown-icon" [class.rotate]="isDropdownOpen">arrow_drop_down</span>
        </a>
        <!-- Submenus -->
        <ul class="submenu" *ngIf="isDropdownOpen">
          <li>
            <a routerLink="submenu4" routerLinkActive="active">
              <span class="material-symbols-outlined">dinner_dining</span>
              Orders
            </a>
          </li>
          <li>
            <a routerLink="submenu1" routerLinkActive="active">
              <span class="material-symbols-outlined">captive_portal</span>
              Site Settings
            </a>
          </li>
          <li>
            <a routerLink="submenu2" routerLinkActive="active">
              <span class="material-symbols-outlined">manage_accounts</span>
              User Management
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a (click)="LogOut()" style="cursor:pointer;">
          <span class="material-symbols-outlined">logout</span>
          Logout
        </a>
      </li>
    </ul>
    <div class="avatar-container" >
      <!-- Avatar Image -->
      <div class="avatar">
        <img [src]="'data:image/jpeg;base64,' + userPicture" alt="User Profile Picture" />
        <div class="badge"></div>
      </div>
    
      <!-- User Info -->
      <div class="user-info">
        <div class="username" [title]="userNameFull">{{ userName }}</div>
        <div class="email" [title]="userEmailFull">{{ userEmail }}</div>
      </div>
    
      <!-- Settings Icon -->
      <div class="settings-icon">
        <span class="material-symbols-outlined" (click)="LogOut()">logout</span>
      </div>
    </div>
    
  </nav>

  <!-- Main Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
